{% extends "base.html" %}


<!-- Additional css for this page -->
{% block additional_css %}
{% endblock %}


<!-- Navbar links for this page -->
{% block navbar_items %}
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" aria-current="page" href="{{ url_for('home') }}">Torna alla home</a>
          </li>
          <li class="nav-item">
          <button class="btn head-btn" type="submit" onclick="document.location='{{ url_for('listanozze') }}'"><i class="fa fa-gift"></i> Lista Nozze</button>
          <li>
        </ul>
      </div>
{% endblock %}


<!-- Page body -->
{% block page_body %}
  <section id="thanks" style="padding: 80px; padding-left: 0px; padding-right: 0px">
    <div class="container text-center">
      <h2 class="title">Grazie!</h2>
      <h2 class="title"> </h2>
      <div style="height: 50vw; max-height:400px !important"><img src="/static/images/tomhanks.gif" style="height: 100%" frameBorder="0" allowFullScreen></img></div><p class="text-center" style="font-size: 1rem">Credits to Nozzi&#174;</p>
      <h2 class="title"> </h2>
      <h2 class="title"> </h2>
      <p class="lead">Ora se vuoi puoi farci un regalo!</p>
      <button class="btn body-btn" type="submit" onclick="document.location='{{ url_for('listanozze') }}'"><i class="fas fa-gift"></i> Lista Nozze</button>
    </div>
    </section>
{% endblock %}


<!-- Additional js for this page -->
{% block additional_js %}
{% endblock %}
